<div class="card">
  <div class="card-divider">
    <h4>{{ pageTitle }}</h4>
  </div>
  <div class="card-section">
    <div class="grid-x">
      <div class="cell small-1">
        <label for="search-user" class="middle">Search:</label>
      </div>
      <div class="cell small-3">
        <input type="text" id="search-user" [(ngModel)]="searchValue" />
      </div>
    </div>
    <hr />
    <div class="grid-x user-list">
      <div class="cell small-3">
        <div class="grid-x">
          <div class="cell small-1"></div>
          <div class="cell small-4">
            <label for="firstname-sort" class="middle">First name</label>
          </div>
          <div class="cell small-3">
            <select id="firstname-sort" [(ngModel)]="firstNameSortDirection">
              <option *ngFor="let item of sortDirections" [ngValue]="item">{{
                item.value
              }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="cell small-3">
        <div class="grid-x">
          <div class="cell small-1"></div>
          <div class="cell small-4">
            <label class="middle">Last name</label>
          </div>
          <div class="cell small-3">
            <select [(ngModel)]="lastNameSortDirection">
              <option *ngFor="let item of sortDirections" [ngValue]="item">{{
                item.value
              }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="cell small-3">
        <div class="grid-x">
          <div class="cell small-1"></div>
          <div class="cell small-4">
            <label class="middle">Phone</label>
          </div>
          <div class="cell small-3">
            <select [(ngModel)]="phoneSortDirection">
              <option *ngFor="let item of sortDirections" [ngValue]="item">{{
                item.value
              }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="cell small-3">
        <div class="grid-x">
          <div class="cell small-1"></div>
          <div class="cell small-4">
            <label class="middle">Address</label>
          </div>
          <div class="cell small-3">
            <select [(ngModel)]="addressSortDirection">
              <option *ngFor="let item of sortDirections" [ngValue]="item">{{
                item.value
              }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="users && users.length">
      <div *ngFor="let item of filteredUsers">
        <user-row [user]="item"></user-row>
      </div>
    </div>
  </div>
</div>
