<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Search:</div>
      <div class="col-md-4">
        <input type="text" [(ngModel)]="searchValue" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Search results:</h4>
      </div>
    </div>
    <div class="row" style="font-weight: bold;">
      <div class="col-md-3">
        <span style="margin-right:5px;">First name</span>
        <select [(ngModel)]="sortNameDirection">
          <option *ngFor="let item of directions" [ngValue]="item">{{item.value}}</option>
        </select>
      </div>
      <div class="col-md-3">
          <span style="margin-right:5px;">Last name</span>
          <select [(ngModel)]="sortLastNameDirection">
            <option *ngFor="let item of directions" [ngValue]="item">{{item.value}}</option>
          </select>
      </div>
      <div class="col-md-3">Phone</div>
      <div class="col-md-3">Address</div>
    </div>
    <div *ngIf="users && users.length">
      <div *ngFor="let item of filteredUsers">
        <user-row #thumbnail [user]="item"></user-row>
      </div>
    </div>
  </div>
</div>
